.SideBarChat {
    display: flex;
    padding: 20px;
    cursor: pointer;
    border-bottom: 1px solid #f6f6f6;
}

a {
    text-decoration: none !important;
    color: black;
}

.SideBarChat:hover {
    background-color: #ebebeb;
}

.SideBarChatInfo >h2 {
    font-size: 16px;
    margin-bottom: 8px;
}

.SideBarChatInfo {
    margin-left: 15px;
}

.SideBarChatInfo >p {
    color: grey;
}