.SideBar {
    display: flex;
    flex-direction: column;
    flex: 0.35;
}

.SideBarHeader {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-right: 1px solid lightgray;
}

.SideBarHeaderRight {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 10vw;
}

.SideBarHeaderRight > .MuiSvgIcon-root {
    margin-right: 2vw;
    font-size: 24px !important;
}

.SideBarSearch {
    display: flex;
    align-items: center;
    background-color: #f6f6f6;
    /*justify-content: space-between;*/
    height: 39px;
    padding: 10px;
    /*border-right: 1px solid lightgray;*/
}

.SideBarSearchContainer {
    display: flex;
    align-items: center;
    background-color: white;
    width: 100%;
    height: 35px;
    border-radius: 20px;
}

.SideBarSearchContainer > .MuiSvgIcon-root {
    color: grey;
    padding: 10px;
}

.SideBarSearchContainer > input {
    border: none;
    margin-left: 10px;
    width: 100%;
    margin-right: 10px;
}

.SideBarChats {
    flex: 1;
    background-color: white;
    overflow: scroll;
}